@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400&family=Lato:wght@300;400;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --Josefin-Sans: "Josefin Sans", sans-serif;
    --Lato: "Lato", sans-serif;
}
/* utility  */

.btn {
    padding: 0.6rem 1.2rem;
    border: 1px solid black;
    font-family: var(--Lato);
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 300;
}

/* utility  */
body {
    width: 100%;
    height: 100vh;
}
.container {
    width: 80%;
    margin: auto;
    padding: 2rem 0.5rem;
}
.taskPage {
    width: 100%;
}
.taskPage .createBtn {
    width: 180px;
    margin: 2rem 0;
    border-radius: 10px;
    border: 1px solid #1fd19f82;
    background-color: #1fd19f82;
    box-shadow: 3px 3px 0px #1fd19f4d;
}
.taskPage .createBtn:hover {
    box-shadow: none;
}
.listView {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem 2rem;
}
.listView .table {
    /* border: 1px solid gray; */
}
.listView .table .title {
    font-size: 1.5rem;
    padding: 1rem 0;
    text-align: center;
    font-family: var(--Lato);
    text-transform: uppercase;
    /* border-bottom: 1px solid gray; */
}
.listView .table .title.todoTask {
    background-color: #2acef385;
    box-shadow: 5px 5px 0 #2acef34f;
}
.listView .table .title.progress {
    background-color: #ffa50091;
    box-shadow: 5px 5px 0 #ffa60051;
}
.listView .table .title.done {
    background-color: #0080008c;
    box-shadow: 5px 5px 0 #00800056;
}
.listView .table .taskList {
    padding: 1rem 0;
}
.listView .table .taskList .singleTask {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    cursor: pointer;
    margin-bottom: 1rem;
}
.listView .table .taskList.all .singleTask {
    box-shadow: 3px 3px 0 #2acef34f;
    border: 1px solid #2acef385;
}
.listView .table .taskList.allProgress .singleTask {
    box-shadow: 3px 3px 0 #ffa60051;
    border: 1px solid #ffa50091;
}
.listView .table .taskList.allDone .singleTask {
    box-shadow: 3px 3px 0 #00800056;
    border: 1px solid #0080008c;
}
.listView .table .taskList .singleTask:hover {
    box-shadow: none;
}
.listView .table .taskList .singleTask .todo {
    font-family: var(--Josefin-Sans);
    text-transform: capitalize;
    font-size: 1rem;
}
.listView .table .taskList .singleTask i {
    cursor: pointer;
}

.formModel {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    background: rgba(128, 128, 128, 0.488);
    /* backdrop-filter: blur(1px); */
    z-index: 1;
}
.formModel.taskFormModel {
    position: relative;
    width: 400px;
    top: 4.5rem;
    background: transparent;
    margin-bottom: 1.5rem;
}
.formModel.taskFormModel form {
    width: 375px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 0 20px;
}
.formModel.taskFormModel form button {
    padding: 0.3rem;
    border-radius: 10px;
}
.formModel.taskFormModel form textarea,
.formModel.taskFormModel form select,
.formModel.taskFormModel form input {
    width: 170px;
    padding: 0.4rem 0.8rem;
    border-radius: 10px;
}
.formModel.taskFormModel form label {
    font-size: 0.7rem;
    margin-top: 0.3rem;
}
.formModel.taskFormModel form {
    padding: 1rem;
}
.formModel.taskFormModel > .close {
    top: -0.8%;
    right: 5.5%;
    font-size: 1.8rem;
    color: white;
}
.formModel > .close {
    background-color: transparent;
    font-size: 2.8rem;
    border: none;
    position: absolute;
    top: 25.2%;
    right: 38.5%;
    color: white;
    font-family: var(--Josefin-Sans);
    font-weight: 200;
    z-index: 5;
    cursor: pointer;
}
.formModel form {
    /* width: 500px; */
    /* height: 500px; */
    display: flex;
    padding: 2rem;
    flex-direction: column;
    background-color: #9ed7f9;
    z-index: 2;
    box-shadow: 6px 6px 0px #9ed8f9b2;
}
label {
    display: block;
    margin-top: 0.7rem;
    font-family: var(--Lato);
    font-size: 0.9rem;
}
input,
textarea,
select {
    padding: 0.6rem 1rem;
    border: 1px solid white;
    outline: none;
    width: 300px;
    /* border-radius: 10px; */
    background-color: aliceblue;
    font-family: var(--Lato);
    letter-spacing: 1px;
    color: #333;
    margin-top: 0.4rem;
}
form button {
    width: 150px;
    margin: 1.5rem 0 0.5rem;
    padding: 0.5rem;
    border: 1px solid #1fd19f82;
    background-color: #1fd19f82;
    box-shadow: 3px 3px 0px #1fd19f4d;
    cursor: pointer;
}
form button:hover {
    box-shadow: none;
}
